<a href="https://colab.research.google.com/github/maxwellowusu/movie_recommender_system_ML/blob/Maxwell/movie_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Movie Recommender System 

## Data Pre-processing Notebook

In [1]:
# import libraries
import numpy as np
import pandas as pd

from google.colab import drive
import sys

# Mount Google Drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

## Set working directory

In [2]:
# Get the absolute path of the current folder
ABT_PATH_CURR = '/content/drive/MyDrive/Colab Notebooks/movie_recommender_project'

## Load data

In [3]:
# Load movie metadata
df_movies = pd.read_csv(ABT_PATH_CURR + '/Data/movies_metadata.csv')

# Load movie keywords
df_keywords = pd.read_csv(ABT_PATH_CURR + '/Data/movies_metadata.csv')

# Load movies links small
df_links_small=pd.read_csv(ABT_PATH_CURR + '/Data/links_small.csv')

# Load movie link all
df_links=pd.read_csv(ABT_PATH_CURR + '/Data/links.csv')

# Load movie ratings small
df_ratings_small=pd.read_csv(ABT_PATH_CURR + '/Data/ratings_small.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
print(df_movies.columns)
print(df_movies.shape)
# df_movies.head()

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')
(45466, 24)

In [7]:
print(df_keywords.shape)
# df_keywords.head()

(45466, 24)

In [8]:
# lets genres from list dictionary

### Selecting relevant columns 
- genres
- adult
- tagline
- production_countries
- production_companies 
- spoken_languages
- overview *

In [9]:
print(df_movies.genres)

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [10]:
# Remove rows with empty genres
movies_data_df  = df_movies.loc[df_movies['genres']!='[]']
movies_data_df.shape

(43024, 24)

In [27]:
movies_data_df.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/1995,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [32]:
# genres = [d.get('name') for d in movies_data_df.genres]

df['genres1'] = movies_data_df['genres'].apply(lambda x: x.get('name'))

AttributeError: ignored

In [12]:
import ast

movies_data = movies_data_df.copy()
movies_data['genres'] = movies_data['genres'].apply(lambda x: x[1:-1])
movies_data['genres'][0]


# my_dict = ast.literal_eval(new_df[0])

"{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}"

In [13]:
# for v in my_dict:
#   x = v["name"]
#   print(x)
type(movies_data['genres'][0])

str

In [23]:
dicts =  []

for dict in movies_data['genres']:
  # print(dict)
  my_dict = ast.literal_eval(dict)
  # print(my_dict)
  dicts.append(my_dict)

In [26]:

print(type(dicts))
# print(dicts[0])
dc = tuple(dicts)
print(dicts[0])

dic = dict((x, y) for x, y in dc)
# rows = []
# for genre in dc:
#   print(genre)
#   row = genre['name']

<class 'list'>
({'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'})

TypeError: ignored

In [ ]:
rows = []
for genre in dicts:
  print(genre)
  row = genre['name']
  # rows.append(row)

({'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'})

TypeError: ignored

TypeError: ignored

In [ ]:


new_df[0].values()

In [ ]:
my_dict[0].values()